<ion-view view-title="Login">
  <ion-content class="padding" style="background-color: lightsalmon;">

    <div class="buffer" style="height:160px">
      <div class="card" hidden>
        <div class="item item-text-wrap">
          This is a basic Card which contains an item that has wrapping text.
        </div>
      </div>

    </div>
    <h1 align="center" style="color:white">Etsy Clone</h1>

    <div class="row" align="center">

      <!--<h1 align="center" style="color:white">Etsy Clone</h1>-->
      </br>


      <!--<div class="col-33">-->
        <!--<button class="socailBtn" ng-click="login()">-->
          <!--&lt;!&ndash;<i style="font-size: 50px" class="icon ion-social-facebook"></i>&ndash;&gt;-->
        <!--</button>-->
      <!--</div>-->
      <!--<div class="col-33">-->
        <!--<button class="socailBtn">-->
          <!--<i style="font-size: 50px" class="icon ion-social-twitter"></i>-->

        <!--</button>-->
      <!--</div>-->
      <div class="col col-33 col-offset-33" align="center">
        <button class="socailBtn" ng-click="emailLogin()">
          <i style="font-size: 50px" class="icon ion-ios-email"></i>

        </button>
      </div>


    </div>

    <!--<div class="list card">-->
      <!--<form ng-submit="login(user)">-->
        <!--<label class="item item-input item-stacked-label">-->
          <!--<span class="input-label">Username</span>-->
          <!--<input type="text" ng-model ="user.username" placeholder="">-->
        <!--</label>-->
        <!--<label class="item item-input item-stacked-label">-->
          <!--<span class="input-label">Email</span>-->
          <!--<input type="text" ng-model= "user.email" placeholder="">-->
        <!--</label>-->
        <!--<label class="item item-input item-stacked-label">-->
          <!--<span class="input-label">Password</span>-->
          <!--<input type="password" ng-model="user.password" placeholder="">-->
        <!--</label>-->
        <!--<input type="submit" val="click me!" class="button button-block button-positive">-->

      <!--</form>-->


    </div>




    </ion-content>
  </ion-view>
