<ion-view view-title="Login">
  <ion-content class="padding" style="background-color: lightsalmon;">

    <div class="buffer" style="height:260px">
      <div class="card" hidden>
        <div class="item item-text-wrap">
          This is a basic Card which contains an item that has wrapping text.
        </div>
      </div>

    </div>

    <div class="row" align="center">
      <div class="col-33">
        <button class="socailBtn" ng-click="login()">
          <i style="font-size: 50px" class="icon ion-social-facebook"></i>
        </button>
      </div>
      <div class="col-33">
        <button class="socailBtn">
          <i style="font-size: 50px" class="icon ion-social-twitter"></i>

        </button>
      </div>
      <div class="col-33">
        <button class="socailBtn" ng-click="emailLogin()">
          <i style="font-size: 50px" class="icon ion-ios-email"></i>

        </button>
      </div>


    </div>

    <!--<div class="list card">-->
      <!--<form ng-submit="login(user)">-->
        <!--<label class="item item-input item-stacked-label">-->
          <!--<span class="input-label">Username</span>-->
          <!--<input type="text" ng-model ="user.username" placeholder="">-->
        <!--</label>-->
        <!--<label class="item item-input item-stacked-label">-->
          <!--<span class="input-label">Email</span>-->
          <!--<input type="text" ng-model= "user.email" placeholder="">-->
        <!--</label>-->
        <!--<label class="item item-input item-stacked-label">-->
          <!--<span class="input-label">Password</span>-->
          <!--<input type="password" ng-model="user.password" placeholder="">-->
        <!--</label>-->
        <!--<input type="submit" val="click me!" class="button button-block button-positive">-->

      <!--</form>-->


    </div>




    </ion-content>
  </ion-view>
