<ion-view view-title="Dashboard">
  <!--<ion-nav-buttons side="left">-->
    <!--<button class="button" ng-show = "login()" ng-click="emailLogin()">-->
      <!--SignIn-->
    <!--</button>-->
  <!--</ion-nav-buttons>-->
  <!--<button class="button button-clear button-positive">Edit</button>-->
  <ion-content class="padding">


    <ion-item class="list card" ng-repeat="item in items" type="item-text-wrap" href= "#/tab/dash/{{item.$id}}">
        <div class="item item-avatar">
          <img src="{{item.uImg}}">
          <h2>{{item.name}}</h2>
          <p class="tagline">{{item.tagline}}</p>
        </div>

        <div class="item item-image">
          <img style="height: 300px; width: 300px" src="{{item.image}}">
        </div>

        <a class="item item-icon-left assertive" href="#">
          <i class="ion-ios-pricetags-outline"></i>
          ${{item.price}}
        </a>

    </ion-item>
  </ion-content>
</ion-view>
