<ion-view view-title="Dashboard">
  <ion-content class="padding">


    <!--<ion-item>-->
      <div class="list card" ng-repeat="item in items">

        <div class="item item-avatar">
          <!--<img src="avatar.jpg">-->
          <h2>{{item.name}}</h2>
          <!--<p>Nine Inch Nails</p>-->
        </div>

        <div class="item item-image">
          <img style="height: 300px; width: 300px" src="{{item.image}}">
        </div>

        <a class="item item-icon-left assertive" href="#">
          <i class="ion-ios-pricetags-outline"></i>
          ${{item.price}}
        </a>

      </div>
    <!--</ion-item>-->
    <div class="list card">


      <div class="item item-divider">Recent Updates</div>
      <div class="item item-body">
        <div>
          There is a fire in <b>sector 3</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Health</div>
      <div class="item item-body">
        <div>
          You ate an apple today!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div>
          You have <b>29</b> meetings on your calendar tomorrow.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
