<div class="popup-fade" id="logPopup" title="Login">

  <div class="panel-body">
    <form name="login" ng-model= "user" ng-submit="login(user)">
      <label class="item item-input">
        <i class="ion-ios-person" style="font-size: 30px"></i>&nbsp;&nbsp;
        <input class="loginPlaceholders" type="text" placeholder="Name" ng-model="user.name">
      </label>

      <label class="item item-input">
        <i class="ion-ios-email" style="font-size: 30px"></i>&nbsp;&nbsp;
        <input class="loginPlaceholders" type="text" placeholder="E-mail" ng-model="user.email">
      </label>


      <label class="item item-input">
        <i class="ion-unlocked" style="font-size: 24px"></i>&nbsp;&nbsp;
        <input class="loginPlaceholders" type="password" placeholder="Password" ng-model="user.password">
      </label>

      <!--<input type="submit" value="Login" class="button button-energized button-block">-->
    </form>
  </div>
</div>
